@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@300&family=Tilt+Neon&display=swap');

body{
  margin: 0px auto;
  max-width: 1600px;
  padding: 0;
  color: #555151;
}

*[x-apple-data-detectors],  /* iOS */
    .x-gmail-data-detectors,    /* Gmail */
    .x-gmail-data-detectors *,
    .aBn {
        border-bottom: 0 !important;
        cursor: default !important;
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }

html::-webkit-scrollbar {
  width: 15px
}

html::-webkit-scrollbar-thumb {
  background: #EC2220;
}
html::-webkit-scrollbar-track {
  background: transparent;
}

#under-construction{
  background:  url(images/under-construction.gif) no-repeat center center;
  background-size: 50%;
  height: 75vh;
}

a .fa-chevron-left{
  font-size: 30px;
  cursor: pointer;
  display: flex;
  width: max-content;
  margin: 0px auto;
  background-color: #f4bc24;
  padding: 20px;
}

a .fa-chevron-left:hover{
  color: #000;
}

p{
color: #555151;
}

a{
  text-decoration: none !important;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.headings{
  font-family: 'Tilt Neon';
  color: #004066;
  font-weight: 700;
}

.header-container{
position: relative;
}

.header{
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-image: url(images/header-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0px 35px;
  padding: 60px 0 90px 0;
  margin-top: 0px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
    z-index: 999;
}

.header-inner{
  display: flex;
  gap: 35px;
}

.right-header{
  display: flex;
  padding: 30px 90px;
  gap: 150px;
}

ul.nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    text-transform: uppercase;
}

ul.nav a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

ul.nav a:hover, a:hover,ul.nav a:hover .fa-angle-down{
  color: #f4bc24;
}

ul.nav a.active{
  color: #f4bc24;
}


ul.nav li:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

ul.nav li .dropdown{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 20px;
  top: 100%;
  transform: translateY(50px);
  width: 240px;
  background-color: #f4bc24;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /* z-index: 111; */
  transition: 0.4s all;
}

.dropdown ul{
  display: flex;
    flex-direction: column;
    gap: 15px;
}

ul.nav li .dropdown a{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

ul.nav li .dropdown a:hover{
  padding-left: 30px;
  transition: 0.4s all;
  color: #004066;
}

.fa-angle-down{
  color: #fff;
  margin-left: 5px;
}


.left-header img{
  width: 90px;
  display: flex;
  margin: 0px auto;
}

.left-header p{
font-size: 12px;
margin: 0;
}

.quote-btn{
  background-color: #fff;
  padding: 0px 15px;
  border-radius: 50px;
  box-shadow: 0 -2px 5px rgba(0,0,0,.5);
  border: none;
  text-align: end;
}

.quote-btn a{
  color: #2c2c2c;
  font-weight: 700;
  font-size: 14px;
}


/* mobile menu css */

.hamburger{
  background:none;
  position:absolute;
  top:10px;
  right:20px;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:10px;
  right:20px;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px; top: 0;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 20px;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 15px;
}

.menu ul .nav__link {
	font-weight: 500;
	color: #666;
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #f1f1f1;
  color: #999;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.hamburger, .cross, .menu{
  display: none;
}












/* about page */

.about-header-container{
  background-image: url('images/about-header-img.jpg');
  background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.about{
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -2px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.about-content h4{
  color: #004066;
  font-family: 'Tilt Neon';
}

.about-heading{
  color: #004066;
  font-family: 'Tilt Neon';
  font-size: 43px;
  font-weight: 700;
  line-height: 1.3em;
}

.about-p{
  font-family: 'Tilt Neon';
  font-size: 18px;
}

.about-inner{
  display: flex;
  position: relative;
}

.about-paint-red{
  margin: 20px 0px 0px 0px;
  padding: 50px 15px 56px 100px;
  background-image: url('images/about-paint-red.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.about-vectors{
  padding: 0px 0px 0px 0px;
  background-color: #F4F7FC;
}

.about-vector-box{
  padding: 0;
}

.about-vector-inner{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-vector-box:nth-child(1){
  border-right: dashed 1px #cccccc;
  border-bottom: dashed 1px #cccccc;
}

.about-vector-box:nth-child(2){
  border-right: dashed 1px #cccccc;
  border-bottom: dashed 1px #cccccc;
}

.about-vector-box:nth-child(3){
  border-bottom: dashed 1px #cccccc;
}

.about-vector-box:nth-child(4), .about-vector-box:nth-child(5){
  border-right: dashed 1px #cccccc;
}

.about-vector-heading {
  display: flex;
  justify-content: center;
}

.about-vector-box-area{
    padding: 60px 30px;
    margin: 0 auto;
    position: relative;
    top: 0;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
}

/* tabs */

.TabButton {
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  line-height: 24px;
  cursor: pointer;
}

.TabButtonSelected {
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  font-size: 20px;
  padding: 20px;
  line-height: 24px;
  border: 5px solid #004066;
}

.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}

/* product inner page */

.product-inner{
  background-color: #F4F7FC;
}

.prod-heading{
  color: #004066;
  font-family: 'Tilt Neon';
  font-weight: 700;
  text-align: center;
}

.product-columns{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 45px 35px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border-radius: 10px;
  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.product-columns:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, .2);
  transform: translateY(-10px);
}

.products-detail{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.sizes{
  background: #f4bc24;
  padding: 15px 5px;
}


/* product-detail page */

.hide {
  display: none;
}

.features{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features img{
  width: 50px;
}

.feature-imgs{
  display: flex;
  gap: 20px;
  align-items: center;
}

.feature-imgs span{
  font-size: 18px;
  font-weight: 700;
  font-family: 'Tilt Neon';
}

.select-div{
  display: flex;
  width: max-content;
  margin: 0px auto;
}

select.div-toggle {
  padding: 15px 80px;
}

option span{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}


/* contact page */


.contact-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-page label{
  color: #484747;
  font-family: 'Tilt Neon';
}

.contact-page input, .contact-page textarea{
  padding: 15px;
  border: none;
  background: #f7f7f7;
}

.contact-page textarea{
  height: 250px;
}

.submit-btn-contact{
  background: #f4bc24;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0;
    padding: 10px  25px;
}

.submit-btn-contact:hover{
  background-color: #000;
  color: #fff;
}

.mail, .phone{
  color: #e32228;
  font-weight: 600;
  font-size: 18px;
}

.mail:hover{
  color: #f4bc24;
}




/* footer */

.contact{
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -2px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  background-image: url('images/contact-section-bg.jpg');
  display: flex;
  flex-direction: column;
}


.contact-form-container{
  padding: 50px 25px 50px 25px;
  display: flex;  
  background-color: #FEE026;
  flex-direction: column;
  border-radius: 10px;
}

form#contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact1 input{
  border-radius: 5px;
  padding: 23px 35px;
  border: 1px solid #eee;
}

.contact1 input:focus, .contact1 input:focus-visible{
  border: none;
}

.submit-btn{
  background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.submit-btn:hover{
  background-color: #004066;
  color: #fff;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}

.links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links img{
  width: 60px;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
}

.links p{
  color: #fff;
  font-size: 18px;
}


















  /* footer */

  .footer{
    background-image: url('images/footer-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
  }

  .footer .headings{
    color: #fff;
  }

  /* .footer .row{
    padding: 175px 50px 40px;
  } */

  .footer a{
    color: #fff;
    font-weight: 700;
  }

  .footer a:hover{
    color: #e32228;
  }

  .footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .links-footer{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .links-footer p{
    color: #fff;
  }

  .contact-links-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .social-links i{
    font-size: 24px;
  }

  .footer-logo{
    width: 100px;
  }


/* fade effects */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fade-up {
    animation: fade-up .5s ease-in;
  }

.active.fadeInImg{
    animation: fadeInimg .5s ease-in;
}

  @keyframes fade-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fadeInImg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




@media screen and (max-width:450px) {
  .header{
    display: none;
  }

  #under-construction{
    background-size: 100%;
  }
 
  .hamburger, .cross, .menu{
    display: block;
  }

  .contact-form-container {
    padding: 30px 25px 30px 25px;
  }

  .contact1 input {
    padding: 10px 15px;
  }

  .submit-btn{
    font-size: 14px;
  }

  .contact-links{
    margin-top: 30px;
  }

  .links{
    align-items: center;
  }

  .links img {
    width: 40px;
    padding: 5px;
  }

  .links-content{
    text-align: center;
  }

  .links-content h4{
    font-size: 16px;
  }

  .links-content p{
    font-size: 12px;
  }
  }